.tableTitle{
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #393c3e;
}
.tableTitle.num1{
	font-size: 25px;
}
.tableTitle.num2{
	font-size: 20px;
}

.alert-danger{
	position: fixed;
	top: 10%;
	right: 15%;
}

.btn{
	color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar{
	background-color: black;
	color: white;
}
.navbar .navbar-nav a{
	color: white;
}
.mr-auto, .mx-auto {
    margin: auto!important;
}
.nav-item a:hover{
	color: grey;
}
.card{
	margin-bottom: 20px;
}
.btn {
	color: #fff;
    background-color: #404040;
}
.dropdown-item.active, .dropdown-item:active {
    color: black;
    background-color: #fff;
}
@media (min-width: 576px){
	.modal-dialog {
    	max-width: 60%;
    }
}
footer {
  width: 100%;
  height: 40px;
  margin-top:100px;
}
.P404{
	height: calc(100vh - 187px)
}
a.dropdown-item.active{
	color: black;
}